    /* yoo im a CSS comment */
    h1 {
        color: black;
    }

    h1:hover {
        color: white;
    }

    p {
        color: white;
    }

    body {
        background-color: hotpink;
    }

    #quote2{ 

        margin: 0 auto;
        font-size: 40px;
        max-width: 350px;
    }

    article {
        text-align: center;
    }

    article ol {
        margin: 25px auto;
        max-width: 600px;
        text-align: left;
        font-weight: bold;
    }

    article img {
        max-width: 300px;
        height: auto;
    }

    figcaption cite {
        display: block;
        color:black;
        font-weight: bolder;
    }